.startButton {
    background-color: #006466; 
    border: none;
    
    color: #006466;
   padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 125px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid #006466;
    outline: none;
    font-weight: bold;
    background: linear-gradient(to right, #006466 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }


/* .startButton:hover:after {
    font-weight: bold;
    content:" ↓↓";
  } */

  .startButton:hover {
    /* background-color: #ffffff;
    color: #006466; */
    color: white;  
    background-position: left bottom;
  }




  .btnTextHomePage:hover{
    color: #006466;
  }


  .CVButton {
    border: none;
    color: #006466;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 30px 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-weight: bold;
    outline: none;
    background: linear-gradient(to left, #006466 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;

  }

  .CVButton:hover {
    /* background-color: #006466;
    color: #ffffff; */

    color: white;  
    background-position: right bottom;
  }


  .ContactMeSubmit{
    /* padding: 10px 20px;    */
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 0px 0px 30px ; 
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #006466; 
    color: black; 
    border: 2px solid white;
    position: relative;
    width: 120px;
    height: 55px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, white 50%, #006466 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;


    
}

.ContactMeSubmit:hover  {
    /* background-color: white;
    color:  #006466; */
    /* box-shadow: 0 5px 6px -2px #777; */
    color: #006466;  
    background-position: left bottom;
}

.ContactMeTryAgain{
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 0px 0px 30px ; 
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #006466;
  position: relative;
  width: 30%;
  height: 55px;
  font-weight: bold;
  text-align: center;
  color: #006466;
  border-radius: 5px;
}
.ContactMeTryAgain:hover  {
  background-color: #006466;
  color:  white;
  border: 2px solid white;
  /* box-shadow: 0 5px 6px -2px #777; */
}

.FiltersButton{
  background-color: #006466; 
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  width: 24.5%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #006466;
}

  @media (max-width: 900px) {


}

@media (max-device-width: 900px) {

  .CVButton {
    font-size: 20px;
    width: 50%;
  }

  .startButton {
    margin-top: 50px;
    font-size: 18px;
    width: 110px;
    height: 45px;
  }

}



@media (max-device-width: 450px) {
    .CVButton{
      width: 150px;
    }
}