.startButton {
    background-color: #006466; 
    border: none;
    
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #006466;
  }


.startButton:hover:after {
    font-weight: bold;
    content:" ↓↓";
  }
  .startButton:hover {
    background-color: #ffffff;
    color: #006466;
  }


  .CVButton {
    background-color: #ffffff; 
    border: none;
    color: #006466;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 30px 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-weight: bold;

  }

  .CVButton:hover {
    background-color: #006466;
    color: #ffffff;
  }


  @media (max-width: 900px) {


}

@media (max-device-width: 900px) {

  .CVButton {
    font-size: 20px;
    width: 50%;
  }

  .startButton {
    font-size: 22px;
    width: 120px;
    height: 60px;
  }

}