.startButton {
    background-color: #333366; 
    border: none;
    
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #333366;
  }


.startButton:hover:after {
    font-weight: bold;
    content:" ↓↓";
  }
  .startButton:hover {
    background-color: #ffffff;
    color: #333366;
  }


  .CVButton {
    background-color: #ffffff; 
    border: none;
    color: #333366;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-weight: bold;
  }

  .CVButton:hover {
    background-color: #333366;
    color: #ffffff;
  }


  @media (max-width: 900px) {
    .CVButton {
      font-size: 20px;
      width: 50%;
      
    }
}