h1,h2{
    text-decoration: underline;
    color: #3f1a94;
}


.sideBar{
    display:block;
    background-color: #333366;
    color: white;
    font-size:22px;
    font-weight: bold;
    width: 200px;
    text-align:center;
    height: 100vh;
    margin: 0px 0;
    position: fixed;
    top: 0%;

    box-shadow: 5px 5px 10px grey;
}

.options{
    display: block;
    border-bottom: 2px solid white;   
    height: 38px;
    margin: 80% 0px; 
    cursor: pointer;

}

.options:hover{
    color: thistle;
}
img{
    width: 32px;
    cursor: pointer;
    margin: 5px 10px;
}

img:hover{
    padding: 5px 2px;
    border-bottom: 2px solid #000000; 
}
.fastPage{
    display: block;
    text-align: right;
    /* padding: 20% 1%; */
    margin: 190px 0% ;
    font-size: 68px;
    font-weight: bold;
    height: 700px;

}

.midTextFastPage{
    color: #3f1a94;
    font-size: 20px;
    text-decoration: underline;
}

a:link, a:visited {
    color: white;

    text-decoration: none;
}

.Skills{
    display: block;
    /* border: 1px solid black; */
    height: 300px;
    margin: 250px 4%;
    position: relative;
    /* border-bottom: 2px solid rgb(0, 0, 0);  */
}
li{
    float: left;
    width: 180px;
    font-weight: bold;
    font-size: 17px;
    margin: 2%;

}

li::before {
    content:  "•";
    color: #8b64e7;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

.CVH1{

    color: white;
    margin: 0 5px;
}
.CvPart{
    display: block;
    position:absolute;
    border: 1px solid black;
    bottom: 0;
    margin: -200px 0px;
    width: 100%;
    border-radius: 5px;
    background-color: #333366;
}

.AboutMe{
    display: block;
    height: 20px;
    margin: 0 4%;
}
.AboutMe p{
    font-size: 18px;
}

.highlightPra{
    font-weight: bold;
    color: #3f1a94;
}

@media (max-width: 900px) {
    .sideBar{
        display: none;
    }

    .fastPage{
        margin: 2% 0% 50%;
        font-size: 58px;
    }

    .Skills{
        display: block;
        height: 350px;
        margin: 310px 4%;
    }
}


@media (max-device-width: 900px) {

    li{
        float: center;
        margin: 2% 10%;
    
    }

    
    li::before {
        content:  "";
    }
      
}