h1,h2{
    text-decoration: underline;
    color: #006466;
}
h1:hover,h2:hover{
    /* animation: wiggle 0.6s; */
    text-decoration:underline  dotted;
    /* animation: wiggle 0.5s;
    animation-iteration-count: infinite; */

}


.sideBar{
    display:block;
    background-color: #004e50;
    color: white;
    font-size:22px;
    font-weight: bold;
    width: 280px;
    text-align:center;
    height: 100vh;
    margin: 0px 0;
    position: fixed;
    top: 0%;
    box-shadow: 5px 5px 10px grey;

    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:initial;
}

.toggleSideBar{
    display:block;
    background-color: #004e50;
    color: white;
    font-size:22px;
    font-weight: bold;
    width: 280px;
    text-align:center;
    height: 100vh;
    position: fixed;
    top: 0%;
    box-shadow: 5px 5px 10px grey;
}
    



@keyframes slidein {
    from  {
        font-size: 0px;
        margin-left: 0%;
        width: 0%;
    }
    to {
      margin-left: 0%;
      width: 280px;
    }
  }


.options{
    display: block;
    border-bottom: 2px solid white;   
    height: 38px;
    margin: 45% 0px; 
    cursor: pointer;
    
}

/* .options:selected,.options:active{
    color: rgb(109, 12, 109);

} */


.Link{
    display: block;
}


.Link:hover{
    color: #c7d4d4;
}

.options:hover{
    color: #c7d4d4;
}

.toggleOptions{
    display: block;
    border-bottom: 2px solid white;   
    height: 38px;
    margin: 45% 0px; 
    cursor: pointer;
}

.toggleOptions:hover{
    color: #c7d4d4;
}



.icons{

    margin: 20px 0;
    display: block;
    height: 100px;
    /* background-color: burlywood; */
}


img{
    padding: 2px 2px;
    width: 32px;
    cursor: pointer;
    margin: 8px 10px;
}

img:hover{
    border-bottom: 2px solid #000000; 
    width: 26px;
}

.fastPage{
    display: block;
    text-align: right;
    /* padding: 20% 1%; */
    margin: 190px 0% ;
    font-size: 68px;
    font-weight: bold;
    height: 700px;
    overflow: hidden;

}

.midTextFastPage{
    color: #006466;
    font-size: 20px;
    text-decoration: underline;
}

.fastPageAnimation{
    color: #006466;
    font-size: 20px;
    text-decoration: underline;
    animation-duration: 3s;
    animation-name: slideinFastPage;
    animation-iteration-count:initial;
    
}



@keyframes slideinFastPage {
    from  {
        margin-right: -800px;
        width: 150%;
    }
    to {
      margin-right: 0;
      width: 100%;
    }
  }

a:link, a:visited {
    color: white;

    text-decoration: none;
}

.Skills{
    display: block;
    /* border: 1px solid black; */
    height: 280px;
    margin: 280px 4%;
    position: relative;
    /* border-bottom: 2px solid rgb(0, 0, 0);  */
}
li{
    float: left;
    width: 180px;
    font-weight: bold;
    font-size: 17px;
    margin: 2%;

}

li::before {
    content:  "•";
    color: #006466;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

.CVH1{

    color: white;
    margin: 0 5px;
}

.H1animation{
    animation: winggles 5s;
    animation-iteration-count:initial;
}

@keyframes  winggles{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

.CvPart,.CvPart:hover{
    display: block;
    position:absolute;
    
    border: 1px solid #004e50;
    bottom: 0;
    margin: -1300px 0px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #004e50;
    text-align: center;
}


.AboutMe{
    display: block;
    height: 20px;
    margin: 0 4%;
}
.AboutMe p{
    font-size: 18px;
}

.highlightPra{
    font-weight: bold;
    color: #006466;
}




@media (max-width: 1280px) {
    .CvPart,.CvPart:hover{
        margin: -1100px 0px;
    }

}

@media (max-width: 1140px) {
    .sideBar{
        display: none;
    }
    .CvPart,.CvPart:hover{
        margin: -1100px 0px;
    }

}

@media (max-device-width: 900px) {

    li{
        float: center;
    }


    Ul{
        text-align: left;
        margin: 2% 15%;
    }

    .fastPage{
        margin: 30% 0% 50%;
        font-size: 50px;
        height: 500px;
    }

    .AboutMePragraph{
        text-align: left;
    }

    .midTextFastPage{
      font-size: 15px;
    }

    .Skills{
        margin: 350px 4%;
    }

    img{
        width: 25px;
    }

    .toggleOptions{ 
        height: 38px;
        margin: 20% 0px; 

    }

    .toggleSideBar{
        
        font-size:22px;
        width: 100%;
        overflow-y:scroll;

    }

    .toggleOptions{
        margin: 10% 0%;

    }

    .toggleOptionsTopSpace{
        margin-top: 20%;
    }
    .CvPart{
        /* margin: -280% 0px; */
    }
    
}


@media (max-height : 800px) {

    .sideBar::-webkit-scrollbar-thumb, 
    .toggleSideBar::-webkit-scrollbar-thumb{
        background: #036b6d8c; 
        border-radius: 2px;
    }
    .sideBar::-webkit-scrollbar-thumb:hover,
    .toggleSideBar::-webkit-scrollbar-thumb:hover{
        background: #036b6d8c; 
    }

    .sideBar,.toggleSideBar{
        overflow-y: scroll;
    }
}


@media (max-device-width: 450px) {

    .AboutMe{
        margin: 360px 4%;
    }
    .Skills{
        margin: 400px 4%;
    }
}


@media only screen and (device-width: 768px) {
    /* For general iPad layouts */

    .CvPart{
        margin: -1100px -4%;
    }

}