::placeholder {
    color: #C7D3D4FF;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #C7D3D4FF;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #C7D3D4FF;
  }


  .ContactMe h1{
    color:#C7D3D4FF;
}
input,textarea{
    margin: 30px 1px;
    display: block;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px #C7D3D4FF;
    border-bottom-style: solid;
    text-align: center;
    font-size: 20px;
    background-color: #004e50;
    outline: none;
    font-size: 20px;
    color: #C7D3D4FF;
    resize: vertical;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0 1000px #004e50 inset !important;
    -webkit-text-fill-color: #C7D3D4FF !important;
}



form{
    background-color: #004e50;
    width: 100%;
    height: 500px;
    display:grid;
    place-items: center;
}

.ContactMeTrySuc{
    color:#C7D3D4FF;
    font-weight: bold;
    font-size: 25px;
}


.ContactMe{
    margin: 15% 0;
}  

.alartMsg{
    color: rgb(245, 181, 181);
    font-size: 18px;
    font-weight: bold;
}



/* .ContactMe h1{
    animation: winggle 5s;
    animation-iteration-count:initial;

}


@keyframes winggle{

    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }
   */
   
.H1animation{
    animation: winggles 5s;
    animation-iteration-count:initial;
}

@keyframes  winggles{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}



@media (max-device-width: 900px) {
    input,textarea{
        width: 80%;
    }

}