.Data {
    width: 420px;
    text-align: center;
    border: 2px solid #006466;
    box-sizing: border-box;
    margin: 4px 4px;
    box-shadow: 1px ;

    border-radius: 5px;
    box-shadow: 2px 1px 5px grey;

}


/* .Data:hover,
.Data:active {
    background-color: #C0DDF5;
} */

.Datas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: left;
    justify-content: left;
    
}

.Data:hover{
    background-color: #ebf3f3;
}

.ProjectsMac{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

a:link, a:visited {
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color: #005355;
}

Table {
    margin-left: auto;
    margin-right: auto;

}

.ProjectsMac span {
    padding:3px 5px;
    border: 2px solid #006466;
    border-radius: 5px;
    font-weight:500;
    margin: 2px 2px;
}

.ProjectsMac span:nth-child(even),
.ProjectsMac span:nth-child(even):hover{
    background-color: #006466;
    color:white;
}

.pName{
    font-size: 20px;
    font-weight: bold;
    color:#074b4d;
    margin: 10px;
}

.pType{
    font-weight: bold;
    text-decoration: 2px underline;
}

.Projects{
    display: block;
    height: 350px;
    margin: 300px 4%;
}




@media (max-width: 1900px) {
    .Data {
        width: 49%;
    }

}

@media (max-width: 900px) {
    .Data {
        width: 100%;
    
    }
    
    .Projects{
        margin: 350px 4%;
    }
    
}

@media (max-width: 556px) {

    .Projects{
        margin: 750px 4%;
    }
    
}



@media (max-width: 1280px) and (min-width: 556px) {
    .Data {
        width: 100%;
    }

    .Projects{
        margin: 450px 4%;
    }

}


@media (max-device-width: 900px) {

    .Projects{
        margin: 550px 4%;
    }

}
@media only screen and (device-width: 768px) {
    /* For general iPad layouts */

    .Projects{
        margin: 750px 4%;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
  }