::-webkit-scrollbar {
  width: 15px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
  */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #006466; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #034d4e; 
}




.AllInfo{
  display:block;
  /* border: 1px solid black; */
  position: relative;
  left: 22%;
  width:77%;

}

@media (max-width: 1140px) {
  .AllInfo{
    left: 8%;
    width:87%;
  }
  
}

@media (max-device-width: 900px) {
  .AllInfo{
    text-align: center;
    width:87%;
    left: 6%;
  }

  
  
}