::-webkit-scrollbar {
  width: 15px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
  */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #006466; 
  background-color: #006466;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #034d4e; 

  
  /* border-bottom-style: dashed ; */
 
}




body {
  background-color: #C7D3D4FF;
  
}


.AllInfo{
  display:block;
  /* border: 1px solid black; */
  position: relative;
  left: 22%;
  width:77%;

}


.ScrollToTop{
    position: fixed;
    bottom: 0;
    right: 0;
    
}

@media (max-width: 1140px) {
  .AllInfo{
    left: 8%;
    width:87%;
  }
  
}

@media (max-device-width: 900px) {
  .AllInfo{
    text-align: center;
    width:87%;
    left: 6%;
  }

  
  
}